.about {
  min-height: 100vh;
  // background-color: rgb(184, 192, 191);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #ffffff;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  @media (min-width: $tablet-width) {
    padding: 210px 70px 70px;
  }
}

.about__description {
  text-align: justify;
  // max-width: 265px;
  padding: 80px 0 0 0;
  font-size: 18px;
  line-height: 1.5;
  max-width: 82%;
  text-indent: 35px;
  @media (min-width: $tablet-width) {
    // max-width: 460px;
    font-size: 22px;
  }
  @media (min-width: $desktop-width) {
    max-width: 850px;
    font-size: 24px;
  }
}
