.about {
  // min-height: 100vh;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #ffffff;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 1200px;
    padding: 120px 60px 70px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1200px;
    padding: 120px 20px 70px;
  }
}

.about__description {
  text-align: justify;
  padding: 60px 0 0 0;
  font-size: 18px;
  line-height: 1.5;
  max-width: 82%;
  text-indent: 35px;
  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
  @media (min-width: $desktop-width) {
    max-width: 850px;
    font-size: 24px;
    max-width: 100%;
    padding: 0;
  }
}

// ---------------------------------------------- education
.education {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  padding: 80px 0 0;
  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }
}

.education__heading {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (min-width: $tablet-width) {
    gap: 40px;
  }
}

.education__title {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.education__list {
  padding: 50px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.education__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.education__date {
  width: 120px;
  font-weight: 700;
  color: #909090;
}

.education__place {
  font-weight: 700;
  font-size: 20px;
}
.education__spec {
  color: #909090;
  font-weight: 700;
  padding-left: 20px;
  text-align: end;
  @media (min-width: $tablet-width) {
    text-align: inherit;
  }
}
