.intro {
  background-image: url(../../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
  @media (min-width: $tablet-width) {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(26, 21, 21, 0) 0%,
        rgba(1, 1, 1, 0.16) 100%
      ),
      #ffffff;
  }
}

.intro__wrapper {
  margin: 0 auto;
  display: grid;
  @media (min-width: $tablet-width) {
    margin-left: 10%;
  }
  @media (min-width: $desktop-width) {
    margin-left: 30%;
  }
}

// --------------------------------------------------------  text-block

.intro {
  &__about {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    @media (min-width: $tablet-width) {
      font-size: 28px;
    }
  }
  &__greeting {
    margin-bottom: 10px;
    color: white;
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
      color: black;
    }
  }
  &__name {
    font-size: 38px;
    margin-bottom: 8px;
    color: white;
    @media (min-width: $tablet-width) {
      font-size: 56px;
      margin-bottom: 18px;
      color: black;
    }
  }
  &__profession {
    color: #909090;
    margin-bottom: 40px;
    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }
  }
}

// ----------------------------------------------------------------- Button

.intro__buttons {
  display: flex;
  gap: 30px;
  @media (min-width: $tablet-width) {
    gap: 80px;
  }
}

.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 60px;
  gap: 24px;
  font-size: 26px;
  border-radius: 8px;
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #909090;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  &:hover {
    box-shadow: none;
    color: #43faf4;
  }
  &:hover path {
    stroke: #43faf4;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  @media (min-width: $tablet-width) {
    width: 180px;
    height: auto;
    padding: 10px 28px;
    font-size: 22px;
  }
}

.intro__title {
  width: 260px;
  @media (min-width: $tablet-width) {
    width: 460px;
  }
}

.intro__description {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  margin: 0 auto;
  letter-spacing: 0.35538em;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  border: 10px solid black;
  @media (min-width: $tablet-width) {
    padding: 25px 65px;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 80px;
  }
}

// ---------------------------------------------- education
.education {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #ff34c0;
  border-bottom: 2px solid #ff34c0;
  font-family: "Inter", "Arial", sans-serif;
  padding: 120px 0;
}

.education__heading {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (min-width: $tablet-width) {
    gap: 40px;
  }
}

.education__title {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.education__list {
  padding: 50px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.education__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.education__date {
  width: 120px;
  font-weight: 700;
  color: #909090;
}

.place {
  font-weight: 700;
  font-size: 20px;
}
.spec {
  color: #909090;
  font-weight: 700;
  padding-left: 20px;
  text-align: end;
  @media (min-width: $tablet-width) {
    text-align: inherit;
  }
}
