.intro {
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 40px;
  @media (min-width: $tablet-width) {
    padding: 100px 20px 30px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(26, 21, 21, 0) 0%,
        rgba(1, 1, 1, 0.16) 100%
      ),
      #ffffff;
  }
}

.intro__wrapper {
  margin: 0 auto;
  display: grid;
  @media (min-width: $tablet-width) {
    margin-left: 10%;
  }
  @media (min-width: $desktop-width) {
    // margin-left: 30%;
    margin: 0 auto;
    max-width: 1200px;
  }
}

// --------------------------------------------------------  text-block

.intro {
  &__about {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    @media (min-width: $tablet-width) {
      font-size: 28px;
    }
  }
  &__greeting {
    margin-bottom: 10px;
    color: white;
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
      color: black;
    }
  }
  &__name {
    font-size: 38px;
    margin-bottom: 8px;
    color: white;
    @media (min-width: $tablet-width) {
      font-size: 56px;
      margin-bottom: 18px;
      color: black;
    }
  }
  &__profession {
    color: #909090;
    margin-bottom: 40px;
    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }
  }
}

// ----------------------------------------------------------------- Button

.intro__buttons {
  display: flex;
  gap: 30px;
  @media (min-width: $tablet-width) {
    gap: 80px;
  }
}

.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 60px;
  gap: 24px;
  font-size: 26px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #2a2c2f;
  outline: 2px solid #46484b;
  outline-offset: 1px;

  &:hover {
    color: #ff34c0;
    outline: 2px solid #ff34c0;
    box-shadow: rgba(118, 137, 150, 0.25) 0px 30px 60px -12px inset,
      rgba(156, 156, 156, 0.3) 0px 18px 36px -18px inset;
  }
  &:hover path {
    stroke: #ff34c0;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &:focus-visible {
    transition: none;
    outline: 3px solid #ff34c0;
    outline-offset: 2px;
    color: #ff34c0;
  }
  &:focus-visible path {
    stroke: #ff34c0;
  }
  &:active {
    outline: none;
    border: none;
  }
  @media (min-width: $tablet-width) {
    width: 180px;
    height: auto;
    padding: 10px 28px;
    font-size: 22px;
  }
}

.intro__title {
  width: 260px;
  @media (min-width: $tablet-width) {
    width: 320px;
  }
}

.intro__description {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  margin: 0 auto;
  letter-spacing: 0.35538em;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  border: 10px solid black;
  @media (min-width: $tablet-width) {
    padding: 20px 48px;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 80px;
  }
}
