.intro {
  background-color: #171718;
  background-image: url("../../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  padding: 150px 40px;
  @media (min-width: $tablet-width) {
    min-height: 750px;
  }
}

.intro__wrapper {
  margin: 0 auto;
  display: grid;
  font-family: "DM Sans", "Arial", sans-serif;
  @media (min-width: $tablet-width) {
    max-width: 640px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

// --------------------------------------------------------  text-block

.intro {
  &__about {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    @media (min-width: $tablet-width) {
      font-size: 44px;
      text-align: center;
    }
  }
  &__greeting {
    margin-bottom: 10px;
    color: white;
    font-size: 36px;
    line-height: 1.1;
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
      font-size: 54px;
    }
  }
  &__name {
    color: #ff34c0;
    font-style: normal;
    margin-bottom: 8px;
    @media (min-width: $tablet-width) {
      margin-bottom: 18px;
    }
  }
  &__profession {
    color: #909090;
    margin-bottom: 40px;
    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
      font-size: 22px;
    }
  }
}

// ----------------------------------------------------------------- Button

.intro__buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  @media (max-width: $tablet-width) {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 186px;
  height: auto;
  gap: 24px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #2a2c2f;
  outline: 2px solid #46484b;
  outline-offset: 1px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover {
    color: #ff34c0;
    outline: 2px solid #ff34c0;
    box-shadow: rgba(118, 137, 150, 0.25) 0px 30px 60px -12px inset,
      rgba(156, 156, 156, 0.3) 0px 18px 36px -18px inset;
  }
  &:hover path {
    stroke: #ff34c0;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &:focus-visible {
    transition: none;
    outline: 3px solid #ff34c0;
    outline-offset: 2px;
    color: #ff34c0;
  }
  &:focus-visible path {
    stroke: #ff34c0;
  }
  &:active {
    outline: none;
    border: none;
  }
  @media (min-width: $tablet-width) {
    width: 186px;
    height: auto;
    padding: 10px;
    font-size: 18px;
  }
}

.intro__title {
  width: 260px;
  @media (min-width: $tablet-width) {
    width: 320px;
  }
}

.intro__description {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  margin: 0 auto;
  letter-spacing: 0.35538em;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  border: 10px solid black;
  @media (min-width: $tablet-width) {
    padding: 20px 48px;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 80px;
  }
}
