.main-nav__wrapper {
  position: absolute;
  top: 80px;
  width: 100%;
  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: -58px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  transition: 0.2;
  &:hover {
    opacity: 0.9;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url(../img/icon/menu-open.svg);
}

.main-nav--opened .main-nav__toggle {
  background-image: url(../img/icon/menu-close.svg);
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 80px;
  align-items: center;
  animation: bounce 1s ease-in-out;
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &--toggle {
      display: none;
    }
  }
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 20px;
  }
  @media (min-width: $desktop-width) {
    padding-right: 80px;
  }
}

.main-nav__item {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  @media (min-width: $tablet-width) {
    box-shadow: none;
    width: auto;
    background-color: transparent;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 20px 30px;
  text-align: center;
  &:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  &:focus-visible {
    outline: none;
    color: #000;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 0;
  }
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 8px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
      rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    @media (min-width: $tablet-width) {
      box-shadow: none;
    }
    &:hover {
      padding: 10px 30px;
      border-radius: 10px;
    }
    &:focus-visible {
      outline: 3px solid #ff34c0;
      outline-offset: 0;
      padding: 10px 30px;
      border-radius: 8px;
      color: #fff;
      background-color: transparent;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
}
