.page {
  height: 100%;
  background-color: #ffffff;
  // font-family: "Montserrat", "Arial", sans-serif;
  // font-family: "Inter", "Arial", sans-serif;
  font-family: "Raleway", "Arial", sans-serif;
}

.page__body {
  max-width: 320px;
  max-width: 100wh;
  margin: 0 auto;
  background-color: #d7d7d7;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}
